.quintessential-regular {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}
header{
  text-align: center;
  margin-bottom: 30x;
  padding: 50px;
  background-color: #a59ab9;

}
nav a{
  text-decoration: none;
  padding: 0 100px;
}
nav a:hover{
    color: #933c38;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4c4355;
  color: #dc4d3b;
  text-align: center;
  padding: 50px;
  margin-top: 30px;
  text-doraction: none;
}
.summary{
  margin: 20px;
}
.heading{
  margin: 20px;
}
body{
  background-color: #efdbc2;
  color: #933c38;
}
#kiki{
  background-img: url("")
}
img{
  border-radius: 8px;
}
.container{
  display: flex;
  align-items: start;
  gap: 50px;
  align: center;
  
}
.TOC{
  margin-right: 100px;
  margin-left: 50px;
}
#home_img{
  object-fit: contain;
  max-width: 50%;
  border: 1px;
  border-color; #a59ab9; 
  border-style: double;
}
a{
  text-decoration: none;
  font-size: 20px;
}
a:link{
  color: #2c2a2d;
}
a:hover{
  color: #a59ab9;
}
a:visited{
  color: #2c2a2d;
}
a.button{
  background-color: #DC4D3B;
  padding: 15px; 
  margin: 50px;
  border-radius: 8px;
}
nav.button{
  background-color: #DC4D3B;
  padding: 15px;
  border-radius: 8px;
  margin-left: 20px;
  margin-right: 20px;

}
audio{
  al
}